JWT_SECRET=mySuperSecureSecret123
JWT_EXPIRES_IN=2h

# Admin user 1
ADMIN1_USERNAME=admin
ADMIN1_PASSWORD=securePassword123
ADMIN1_ROLES=admin

# Admin user 2
ADMIN2_USERNAME=superadmin
ADMIN2_PASSWORD=superSecurePassword456
ADMIN2_ROLES=admin
DB_SYNCHRONIZE=false
DB_MIGRATIONS_RUN=true

# RabbitMQ. Plain AMQP is permitted only for local development.
RABBITMQ_PROTOCOL=amqp
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_VHOST=/
RABBITMQ_HEARTBEAT_SECONDS=30
RABBITMQ_ALLOW_INSECURE_LOCAL=false
OUTBOX_MAX_ATTEMPTS=8

# AWS/Amazon MQ uses AMQPS and certificate validation.
# RABBITMQ_PROTOCOL=amqps
# RABBITMQ_PORT=5671
# RABBITMQ_TLS_SERVERNAME=b-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx.mq.us-west-2.amazonaws.com
# RABBITMQ_TLS_CA_PATH=/etc/ssl/certs/osc-rabbitmq-ca.pem
